/* RESET GENERAL */

*{
    margin: 0;
    padding:0;
}

img{
    width: 100%;
}


/* HEADER */
header{
    background-color: black;
    height: 100px;
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    list-style: none;
    margin-top: 40px;
}
a{
    color: aliceblue;
}

/* MAIN */

main{
    background-color: rgb(45, 43, 43);
}

h1, h2{
    padding: 20px;
    text-align: center;
    color: antiquewhite;
}
div{
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
}
section:first-of-type{
    display: flex;
    justify-content: space-around;
    background-color: rgb(145, 102, 102);
}
section:last-of-type{
    background-color: rgb(110, 54, 54);
    position: relative;
    height: 60vh;
}

#chat2{
    position: absolute;
    left: 40px
}
#chat3{
    position: absolute;
    top:150px;
    right: 40px;
}
/* FOOTER */

footer{
    background-color: black;
    height: 90px;
}